---
import { db, Comment } from "astro:db";

const comments = await db.select().from(Comment);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro DB</title>
  </head>
  <body>
    <h2>Comments</h2>
    {
      comments.map(({ authorId, content }) => (
        <article>
          <p>Author: {authorId}</p>
          <p>{content}</p>
        </article>
      ))
    }
  </body>
</html>
